<header class="travel_header">
	<section>
				<a routerLink="/" routerLinkActive="router-link-active" ><img src="/assets/logo.svg" alt="Travel App" /></a>
			
	</section>

	<nav class="header_navigation">
		<ul>
			<li>
				<a routerLink="/places" routerLinkActive="router-link-active" >Explore</a>
			</li>
			<li>
				<a routerLink="/categories" routerLinkActive="router-link-active" >Categories</a>
			</li>
		</ul>
	</nav>
	<section class="logInModule">
		<p>example@example.com</p>
		<a class="header_link"  >
				<fa-icon [icon]="faSignInAlt"></fa-icon>
				Sign In
			</a>
		
	</section>
</header>
